<header>
  <h1>Day Planner</h1>
</header>
<h1 style="display: none;">{{ message | async | json }}</h1>

<div>
  <div class="tabs">
    <div id="addLink" class="tabLink" (click)="openTab('addNew', 'addLink')">
      ➕
    </div>
    <div
      id="unfinishedLink"
      class="active-tab tabLink"
      (click)="openTab('HomeC', 'unfinishedLink')"
    >
      🏠
    </div>
    <div
      id="finishedLink"
      class="tabLink"
      (click)="openTab('OutC', 'finishedLink')"
    >
      🏆
    </div>
  </div>
  <div class="tabs-contents">
    <div class="tab-content" id="addNew">
      <app-plan-detail></app-plan-detail>
      <div class="divider">
        <div></div>
        <div>Or</div>
        <div></div>
      </div>
      <app-add-tag></app-add-tag>
    </div>
    <div class="tab-content show-tab" id="HomeC">
      <app-plans></app-plans>
    </div>
    <div class="tab-content" id="OutC">
      <app-finished-plans></app-finished-plans>
    </div>
  </div>

  <!-- <div class="menu-wrapper">
  <div class="menu">
    <ul>
      <div *ngIf="showMenu" class="hidden-menu">
        
       
        <li [routerLink]="['home/add-tag']">
          <span>+</span><span class="iconlabel">tag</span>
        </li>
        
      </div>
      <li class="setting" (click)="showMenuClicked()">
        <span>&#8810;</span>
        <span class="iconlabel">menu</span>
      </li>
    </ul>
  </div>
</div> -->

  <!-- MULTIPLE ROUTERS WITH SAME PATH -->

  <!-- <h1>PLans</h1>
<ul class="tabs">
  <li
  
  [routerLink]="[
    { outlets: { primary: ['home'], holder2: ['finished-plans'] } }
  ]"
>
<span class="iconlabel">finished</span>
</li>
<li
[routerLink]="[{
  outlets:{primary:['home'],holder2:['home']}
}]"
routerLinkActive='tab-active' 
>
<span class="iconlabel">back</span>
</li>
</ul> -->
  <!-- <router-outlet name="holder2"></router-outlet> -->
</div>
